* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide {
    display: none;
}

.show {
    display: initial;
}

.image-preview {
    width: 300px;
}

.unbelievable {
    margin-bottom: 20px;
}

.before,
.after {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin: 150px auto 0;
    
}

.selector-wrapper {
    position: relative;
}


.desc-text {
    position: absolute;
    inset: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    text-align: center;
    z-index: 2;
}

.imageFileSelector {
    background-color: transparent;
    border: 4px solid #000;
    width: 100%;
    height: 300px;
    position: relative;
    cursor: pointer;
}

.imageFileSelector::before {
    position: absolute;
    inset: 0;
    content: '';
    background-color: #fff;
}

.imageFileSelector.dragenter {
    border: 4px dashed #000;
}
