* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
}

img {
  object-fit: cover;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 100px auto 0;
}